body{        
    padding-top: 60px;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;      
    background: #0f62fe;
    padding: 3px;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.img-slider {
    position: relative;
    width: 100vw;
    height: 400px;
    z-index: -1;
}
.img-slider .slider-container {
    position: absolute;
    width: 300%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 15s infinite;
}
.img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height: 100%;
    float: left;
    overflow: hidden;
}
.index-image{
  width: 100%;
}
@keyframes slider {
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -100%}
    
    60%, 85%{left: -200%}
}

body{ margin:0; font-family:'tahoma'}
.login {
    float: right;
    margin: 20px 30px 0 0;
}
nav ul {
  margin:0;padding:0;
  list-style-type:none;
  float:left;
  display:inline-block;
}

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  float:left;
  display:inline-block;
}

li > a:after { content:' v'}

li > a:only-child:after { content: ''; }

nav ul li a {
  padding:20px;
  display:inline-block;
  color:white;
  text-decoration:none;
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
  display:none;
  position:fixed;
  left:0;
  background:#33b1ff;
  float:left;
  min-width: 450px;
}

nav ul li ul li {
  width:100%;
  border-bottom:1px solid rgba(255,255,255,.3);
}

nav ul li:hover ul {
  display:block;
}


.openBtn {
display: flex;
justify-content: right;
}
.openButton {
margin: 20px 30px;
cursor: pointer;
position: fixed;
}
.loginPopup {
position: relative;
text-align: center;
width: 100%;
}
.formPopup {
display: none;
position: fixed;
left: 50%;
top: 15%;
transform: translate(-50%, 5%);
border: 3px solid #999999;
z-index: 9;
}
.formContainer {
max-width: 300px;
padding: 20px;
background-color: #0f62fe;
}
.formContainer input[type=text],
.formContainer input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 20px 0;
border: none;
background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
background-color: #ddd;
outline: none;
}
.formContainer .btn {
    padding: 0px 35px;
    border: none;
    background-color: #0f62fe;
    cursor: pointer;
    color: white;
    margin-bottom: 15px;
}
.formContainer .btn-cancel {
  padding: 0px 35px;
  border: none;
  background-color: #0f62fe;
  cursor: pointer;
  color: white;
  margin-bottom: 15px;
}
.formContainer .btn:hover,
.openButton:hover {
opacity: 0.5;
}

.card-intro-flex{
    display: flex;
    justify-content: space-evenly;
}

.card-intro-flex-multi{
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  margin: 0px 0px 50px 0px;
}

.card-intro-image{
    width: 440px;
}
.card-intro-image-foreign{
  width: 900px;
}
h2{
    text-align: center;
    margin: 30px;
}
.interest-get{
    display: flex;
    justify-content: space-evenly;
}


.introPopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 5%);
  background: #33b1ff;
  color: white;
  padding: 10px 20px;
  border-radius: 3%;
  max-width: 350px;
  }

.interest-button{
  background-color: #eee;
  padding: 10px;
  border-radius: 10%;
}
.interest-button:hover{
  cursor: pointer;
}

.interest-button-multi{
  background-color: #eee;
  padding: 10px;
  border-radius: 10%;
  margin: -10px 0px 0px 0px;
}
.interest-button-multi:hover{
  cursor: pointer;
}


.btn-cancel:hover{
  cursor: pointer;
}

card-intro-flex#blur.active{
  filter: blur(20px);
  pointer-events: none;
}

.account-image{
  margin-bottom: -300px;
}

.account-button{
  background-color: #0f62fe;
  color: white;
  padding: 20px;
  border-radius: 10%;
  margin: 0px 0px 0px 1200px;
  position: fixed;
}
.account-button:hover{
  cursor: pointer;
}

.account-login-image{
  width: 100%;
  margin-bottom: -720px;
}
.account-login-text{
  color: #137A79;
  margin: 0px 0px 0px 575px;
  font-size: 28px;
  font-weight: bold;
}