<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>IBM 銀行</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
    <div class="fixed-header">
      <nav>
        <ul class="tag-list">
          <li><a href="/">IBM 銀行</a></li>
          <li><a href="#">信用卡</a>
            <ul>
              <li><a href="cardintro">卡片介紹</a></li>
              <li><a href="carddiscount">刷卡優惠</a></li>
            </ul>
          </li>
          <li><a href="#">保險</a>
            <ul>
              <li><a href="#">壽險保障保險</a></li>
              <li><a href="#">投資型保險</a></li>
              <li><a href="#">意外/醫療保險</a></li>
              <li><a href="#">儲蓄型保險</a></li>
              <li><a href="#">高齡化/微型保險</a></li>
              <li><a href="#">其他保險</a></li>
            </ul>
          </li>
          <li><a href="#">投資</a>
            <ul>
              <li><a href="#">股票/ETF</a></li>
              <li><a href="#">基金</a></li>
              <li><a href="#">外匯</a></li>
              <li><a href="#">債券</a></li>
              <li><a href="#">結構型商品</a></li>
            </ul>
          </li>
          <li><a href="#">帳戶</a>
            <ul>
              <li><a href="#">一般帳戶</a></li>
              <li><a href="#">外幣帳戶</a></li>
              <li><a href="#">數位帳戶</a></li>
              <li><a href="#">證券帳戶</a></li>
            </ul>
          </li>
        </ul>
        <div class="openBtn">
          <div class="openButton" onclick="openForm()"><strong>{{ state }}</strong></button>
        </div>
        <div class="loginPopup">
          <div class="formPopup" id="popupForm">
            <form method="post" class="formContainer" id="formContainer">
              <h2>Please Log in</h2>
              <label for="email">
                <strong>Account</strong>
              </label>
              <input type="text" id="email" placeholder="Your Account" name="email" required>
              <label for="psw">
                <strong>Password</strong>
              </label>
              <input type="password" id="psw" placeholder="Your Password" name="psw" required>
              <button type="submit" class="btn">Log in</button>
              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    {% block body %}
    <Section class="img-slider">
      <div class="slider-container">
        {% for image in images %}
        <div class="slide">
          <img src="{{ url_for('static', filename = 'images/'+image)}}">
        </div>
        {% endfor %}
      </div>
    </Section>
    {% endblock %} 
    <div class="fixed-footer">
        <div class="container">Copyright &copy; 2022 IBM 銀行</div>        
    </div>
</body>
</html>